<%- include('./partials/header.ejs') %>

    <div class="my-5">
        <div class="container mt-2 px-4">
            <div class="mt-8 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
                <% if (stories.length===0) { %>
                    <p>No stories found.</p>
                    <% } else { %>
                        <% stories.forEach(story=> { %>
                            <div class="card bg-base-100 shadow-xl relative">
                                <!-- Save/Unsave button section above the image -->
                                <div class="absolute top-4 right-4">
                                    <form action="/toggle-save-story/<%= story._id %>" method="POST"
                                        style="display:inline;">
                                        <button type="submit" class="btn p-4 border-slate-400 bg-slate-300">
                                            <i
                                                class="fas <%= user.savedStories.includes(story._id) ? 'fa-heart text-red-500' : 'fa-heart text-white' %>"></i>
                                        </button>
                                    </form>
                                </div>

                                <figure>
                                    <img src="<%= story.imageUrl %>" alt="<%= story.title %>"
                                        class="object-cover h-48 w-full">
                                </figure>
                                <div class="card-body">
                                    <h3 class="text-xl font-semibold">
                                        <%= story.title %>
                                    </h3>
                                    <p><strong>Location Visited:</strong>
                                        <%= story.visitedLocation %>
                                    </p>
                                    <p class="text-gray-700">
                                        <%= story.story.substring(0, 100) %>...
                                    </p>
                                    <div class="card-actions justify-end">
                                        <!-- Updated Read More button to link to a new page -->
                                        <a href="/story/<%= story._id %>" class="btn btn-second">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <% }); %>
                                <% } %>
            </div>

            <!-- Pagination Controls -->
            <div class="flex justify-center mt-6">
                <% if (currentPage> 1) { %>
                    <a href="/dashboard?page=<%= currentPage - 1 %>" class="btn btn-main mr-2">Previous</a>
                    <% } %>
                        <% for (let i=1; i <=totalPages; i++) { %>
                            <a href="/dashboard?page=<%= i %>"
                                class="btn <%= currentPage === i ? 'btn-active' : 'btn-secondary' %> mx-1">
                                <%= i %>
                            </a>
                            <% } %>
                                <% if (currentPage < totalPages) { %>
                                    <a href="/dashboard?page=<%= currentPage + 1 %>" class="btn btn-main ml-2">Next</a>
                                    <% } %>
            </div>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %>

        <script>
            document.getElementById('search-form').addEventListener('submit', function () {
                document.getElementById('search-form').reset();
            });
        </script>